OPENAI_API_KEY="YOUR_OPENAI_API_ACCESS_HERE"
HF_HOME="YOUR_MODEL_PATH" #example: /myproject/huggingface
HF_TOKEN="YOUR_HF_TKOEN"
ENV_PATH="YOUR_VIRTUAL_ENV_PATH" #example: /myproject/venv
VLLM_ATTENTION_BACKEND="FLASHINFER"